services:
	-
		class: PHPStan\Mockery\Reflection\AllowsMethodsClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension

	-
		class: PHPStan\Mockery\Type\AllowsDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: PHPStan\Mockery\Type\ExpectationAfterAllowsDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: PHPStan\Mockery\Type\MockDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

	-
		class: PHPStan\Mockery\Type\ShouldReceiveDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	-
		class: PHPStan\Mockery\PhpDoc\TypeNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension
