parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$args of static method Mockery\\:\\:namedMock\\(\\) expects array\\<mixed\\>\\|class\\-string\\<FooBar\\|PHPStan\\\\Mockery\\\\Foo\\>\\|FooBar\\|PHPStan\\\\Mockery\\\\Foo, string given\\.$#"
			count: 1
			reportUnmatched: false
			path: tests/Mockery/MockeryTest.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of static method Mockery\\:\\:mock\\(\\) expects array\\<mixed\\>\\|class\\-string\\<PHPStan\\\\Mockery\\\\Baz, PHPStan\\\\Mockery\\\\Buzz\\|PHPStan\\\\Mockery\\\\Foo\\>\\|PHPStan\\\\Mockery\\\\Baz, PHPStan\\\\Mockery\\\\Buzz\\|PHPStan\\\\Mockery\\\\Foo, string given\\.$#"
			count: 1
			reportUnmatched: false
			path: tests/Mockery/MockeryTest.php

		-
			rawMessage: 'Method PHPStan\Mockery\IsolatedMockeryTest::requireFoo2() has an unused parameter $foo.'
			identifier: method.unusedParameter
			count: 1
			path: tests/Mockery/IsolatedMockeryTest.php

		-
			rawMessage: 'Method PHPStan\Mockery\IsolatedMockeryTest::requireFoo3() has an unused parameter $foo.'
			identifier: method.unusedParameter
			count: 1
			path: tests/Mockery/IsolatedMockeryTest.php

		-
			rawMessage: 'Method PHPStan\Mockery\MockeryTest::requireBaz() has an unused parameter $baz.'
			identifier: method.unusedParameter
			count: 1
			path: tests/Mockery/MockeryTest.php

		-
			rawMessage: 'Method PHPStan\Mockery\MockeryTest::requireBuzz() has an unused parameter $buzz.'
			identifier: method.unusedParameter
			count: 1
			path: tests/Mockery/MockeryTest.php

		-
			rawMessage: 'Method PHPStan\Mockery\MockeryTest::requireFoo() has an unused parameter $foo.'
			identifier: method.unusedParameter
			count: 1
			path: tests/Mockery/MockeryTest.php
